<h1>Listing employers</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Location</th>
    <th>Url</th>
    <th>Logo</th>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @employers.each do |employer| %>
  <tr>
    <td><%= employer.name %></td>
    <td><%= employer.location %></td>
    <td><%= employer.url %></td>
    <td><%= employer.logo %></td>
    <td><%= employer.email %></td>
    <td><%= link_to 'Show', employer %></td>
    <td><%= link_to 'Edit', edit_employer_path(employer) %></td>
    <td><%= link_to 'Destroy', employer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Employer', new_employer_path %>
